[submodule "modules/imap-del-for-mh.php"]
	path = modules/imap-del-for-mh.php
	url = https://github.com/fwolf/imap-del-for-mh.php.git
[submodule "modules/remove-old-kernels.sh"]
	path = modules/remove-old-kernels.sh
	url = https://github.com/fwolf/remove-old-kernels.sh.git
[submodule "modules/git-id"]
	path = modules/git-id
	url = https://github.com/fwolf/git-id.git
