[submodule "module/imap-del-for-mh.php"]
	path = module/imap-del-for-mh.php
	url = https://github.com/fwolf/imap-del-for-mh.php.git
[submodule "module/remove-old-kernels.sh"]
	path = module/remove-old-kernels.sh
	url = https://github.com/fwolf/remove-old-kernels.sh.git
[submodule "module/git-id"]
	path = module/git-id
	url = https://github.com/fwolf/git-id.git
